@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');


*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    top: 0;
}

:root {
    --bitter: "Bitter", serif;
    --openSans: "Open Sans", sans-serif;
    --instrumentSans: "Instrument Sans", sans-serif;
    --lexendDeca: "Lexend Deca", sans-serif;
}

html {
    min-height: 100vh;
    height: fit-content;
}

body {
    min-height: 100vh;
    height: 100vh;
    min-width: 100vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* padding: 10rem 0 5rem 0; */
    overflow: scroll;
}

main {
    display: grid;
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
}
    
.navigation { 
    /* grid-area: 1 / 1 / 11 / 3; */
    /* grid-area: 1 / 1 / 11 / 2; */
    grid-area: 1 / 1 / 11 / 3;
    /* background-color: #ddbe87; */
    border-right: 1px gray solid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.logoContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1.5rem;
}

.logo {
    font-family: var(--lexendDeca);
    font-weight: 800;
    font-size: 32px;
    letter-spacing: -7%;
    text-align: left;
    /* width: 100%; */
    color: #FF0303;
}

.logoAdmin {
    font-family: var(--lexendDeca);
    font-weight: 800;
    font-size: 12px;
    letter-spacing: -7%;
    text-align: left;
    color: #000;
    margin-top: -3px;
    margin-left: 3px;
    letter-spacing: 1px;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 500px;
    /* border: 1px black solid; */
    margin-top: 4rem;
}

.tabDivider {
    width: 80%;
    height: fit-content;
    font-family: var(--lexendDeca);
    font-size: 9px;
    letter-spacing: 1px;
    color: #6a6a6a;
    margin-bottom: 0.5rem;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    color: #4d4d4d;
    height: 50px;
    width: 100%;
    font-family: var(--lexendDeca);
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
    padding-left: 2.5rem;
    cursor: pointer;
}

.tab:hover {
    background-color: rgba(194, 194, 194, 0.5);
}

.dashboard {
    content: url('../images/dashboard.svg');
    width: 24px;
    height: 24px;
}

.recipe {
    content: url('../images/recipe.svg');
    width: 23px;
    height: 23px;
}

.reviews {
    content: url('../images/reviews.svg');
    width: 23px;
    height: 23px;
}

.logs {
    content: url('../images/logs.svg');
    width: 23px;
    height: 23px;
}

.content { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    grid-area: 1 / 3 / 11 / 13;
}
    
.top-divider {
    grid-area: 1 / 1 / 2 / 13;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3rem;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.profileContainer p {
    font-family: var(--lexendDeca);
    font-size: 14px;
    font-weight: 500;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.5);
}

.bottom-divider {
    grid-area: 2 / 1 / 13 / 13;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
}

/* Dashboard */

.header {
    background: #e9b251;
    width: 100%;
    height: 175px;
    border-radius: 5px;
    position: relative;
}

.info-container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    transform: translateY(100px);
}

.info-1 {
    width: 250px;
    height: 150px;
    border-right: 1px #42424247 solid;
    border-left: 1px #42424247 solid;
    border-bottom: 3px #42424247 solid;
    background-color: white;
    border-radius: 5px;
}

.chart {
    border: 2px #42424247 solid;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    margin-bottom: 1.5rem;
}

/* Recipes */

.controlContainer {
    /* border: 1px black solid; */
    height: fit-content;
    width: 100%;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

.wrapper-1, .wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
  
.searchBar {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
}
  
#searchQueryInput {
    width: 350px;
    height: 2rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    /* border-radius: 1.625rem; */
    border: 1px #42424247 solid;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 12px;
}
  
#searchQuerySubmit {
    width: 3.5rem;
    height: 2rem;
    margin-left: -3.5rem;
    background-color: none;
    border-right: 1px #42424247 solid;
    border-top: 1px #42424247 solid;
    border-bottom: 1px #42424247 solid;
    outline: none;
}
  
#searchQuerySubmit:hover {
    cursor: pointer;
}

.filters {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
}

select {
    width: 200px;
    height: 2rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border: 1px #42424247 solid;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 12px;
}

input[type="time"], input[type="date"] {
    height: 2rem;
}

.recipesSection {
    border: 1px #42424247 solid;
    width: calc(100% - 4rem);
    height: 78%;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    width: fit-content;
    height: fit-content;
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 10px;
    font-family: var(--lexendDeca);
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20px;
    height: 24px;
    background-color: #d9d9d9;
    border-radius: 2px;
    color: gray;
    cursor: pointer;
}