@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');


*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    top: 0;
}

:root {
    --bitter: "Bitter", serif;
    --openSans: "Open Sans", sans-serif;
    --instrumentSans: "Instrument Sans", sans-serif;
    --lexendDeca: "Lexend Deca", sans-serif;
}

html {
    min-height: 100vh;
    height: fit-content;
    overflow: hidden;
}

body {
    min-height: 100vh;
    height: 100vh;
    min-width: 100vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* padding: 10rem 0 5rem 0; */
    overflow: hidden;
}

main {
    display: grid;
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
}
    
.navigationSection { 
    /* grid-area: 1 / 1 / 11 / 3; */
    /* grid-area: 1 / 1 / 11 / 2; */
    grid-area: 1 / 1 / 11 / 3;
    /* background-color: #ddbe87; */
    border-right: 1px gray solid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1.5rem;
}

.logo > h1 {
    font-family: var(--lexendDeca);
    font-weight: 800;
    font-size: 32px;
    letter-spacing: -7%;
    text-align: left;
    /* width: 100%; */
    color: #FF0303;
}

.logo > h2 {
    font-family: var(--lexendDeca);
    font-weight: 800;
    font-size: 12px;
    letter-spacing: -7%;
    text-align: left;
    color: #000;
    margin-top: -3px;
    margin-left: 3px;
    letter-spacing: 1px;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 500px;
    /* border: 1px black solid; */
    margin-top: 4rem;
}

.tabs > h3 {
    width: 80%;
    height: fit-content;
    font-family: var(--lexendDeca);
    font-size: 9px;
    letter-spacing: 1px;
    color: #6a6a6a;
    margin-bottom: 0.5rem;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    color: #4d4d4d;
    height: 50px;
    width: 100%;
    font-family: var(--lexendDeca);
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
    padding-left: 2.5rem;
    cursor: pointer;
}

.tab:hover {
    background-color: rgba(194, 194, 194, 0.5);
}

.contentSection { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    grid-area: 1 / 3 / 11 / 13;
    position: relative;
}
    
.contentTop {
    grid-area: 1 / 1 / 2 / 13;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3rem;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.profileContainer p {
    font-family: var(--lexendDeca);
    font-size: 14px;
    font-weight: 500;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.5);
}

.contentBottom {
    grid-area: 2 / 1 / 13 / 13;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    overflow: hidden;
}

.contentBottom > h1 {
    font-family: var(--bitter);
    font-size: 24px;
}

.controlContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    height: fit-content;
    padding-left: 3.5rem;
}

.controlContainer > button {
    font-family: var(--bitter);
    font-weight: 700;
    font-size: 12px;
    width: 100px;
    height: fit-content;
    border-radius: 0;
    border: none;
    padding: 0.5rem 2rem;
    color: white;
    background-color: #FF0303;
    cursor: pointer;
}

#sentimentTrend, #sentimentBar {
    width: 85% !important;
    height: fit-content !important;
    border: 1px #42424247 solid; 
    padding: 1.5rem;
}

#sentimentPie {
    width: fit-content !important;
    height: 80% !important;
    border: 1px #42424247 solid; 
    padding: 1.5rem;
}