footer {
  width: 100%;
  background: black;
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
  font-family: 'Lexend Deca', sans-serif;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main-container {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.col {
  width: 100%;
  margin-bottom: 10px;
}

.nav-logo {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
  text-align: center;
}

.nav-logo h1 {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: -7%;
  text-align: center;
  width: 100%;
  color: #ffffff;
  margin: 0;
}


.footer-logo {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -7%;
  text-align: center;
  width: 100%;
  color: #ffffff;
  margin: 0;
  text-decoration: none;
}

.contact-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
}

.contact {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  text-align: center;
  width: 100%;
  color: #ffffff;
  margin: 10px 0;
  display: block;
}

.nav-logo a {
  text-decoration: none;
  color: inherit;
}

.contactInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.emailSvg {
  width: 25px;
  height: 25px;
  background-image: url('../images/email.svg');
  background-size: cover;
  background-position: center;
  margin-right: 5px;
}
.mobileSvg {
  width: 25px;
  height: 25px;
  background-image: url('../images/mobile.svg');
  background-size: cover;
  background-position: center;
  margin-right: 5px;
}
.linkedSvg {
  width: 25px;
  height: 25px;
  background-image: url('../images/linked.svg');
  background-size: cover;
  background-position: center;
  margin-right: 5px;
}

.descContent {
  text-align: center;
  width: 100%;
  max-width: 550px;
}

.descContent p {
  font-family: 'Lexend Deca';
  font-size: 13px;
  margin: 5px 0;
}

.back-to-top {
    display: flex;
    background-color: none;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;   
    text-decoration: none;
}

.back-to-top:hover {
    color: rgb(255, 149, 62);
}

html {
    scroll-behavior: smooth;
}