@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    top: 0;
}

:root {
    --bitter: "Bitter", serif;
    --openSans: "Open Sans", sans-serif;
    --instrumentSans: "Instrument Sans", sans-serif;
}

html {
    min-height: 100vh;
    height: fit-content;
}

body {
    position: relative;
    min-height: 100vh;
    height: fit-content;
    min-width: 100vw;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10rem 0 5rem 0;
    overflow: scroll;
    /* overflow-x: hidden; */
}

symbol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    font-family: var(--bitter);
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 3rem;
}

.header2 {
    font-family: var(--bitter);
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 3rem;
}

.recipesSection {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.recipesSelf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.recipesContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1.5rem;
    /* border: 1px black solid; */
    width: 1220px;
    height: fit-content;
}

.recipeContainer {
    border: 1px solid rgba(0,0,0,.15);
    height: 300px;
    width: 287px; /*285px*/

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    cursor: pointer;
}

.recipeContainer:hover .recipeName h1 {
    text-decoration: underline;
    text-decoration-color: maroon;
    /* transform: scale(1.1); */
  }

.recipeImage {
    background-image: url('../images/chicken.jpg');
    background-position: center;
    background-size: cover;
    /* border: 1px black solid; */
    grid-area: 1 / 1 / 6 / 2;
}

.recipeName {
    /* border: 1px black solid; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    flex-direction: column;
    font-family: var(--instrumentSans);
    font-weight: 700;
    /* letter-spacing: 1px; */
    grid-area: 6 / 1 / 11 / 2;
}

.recipeName h1 {
    font-size: 20px;
    /* margin-left: 1rem; */
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    height: 48px;
}

.recipeRatingContainer {
    /* border: 1px black solid; */
    width: fit-content;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.starsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratingsCount {
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 10px;
    margin-left: 0.5rem;
    color: rgba(0, 0, 0, 0.65);
}

.addRecipe {
    cursor: pointer;
    width: 265px;
    height: 210px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.addRecipe:hover {
    background-color: grey;
}

/* FOR MODAL */

.modalRecipe {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.modalRecipe.is-visible {
    visibility: visible;
}

.modalRecipe.is-visible .modal-transition {
    transform: translateY(0);
    opacity: 1;
}

.modalRecipe.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.1s, opacity 0.1s;
}

.modal-wrapper {
    position: absolute;
    z-index: 9999;
    top: 2em;
    left: calc(50% - 12.5em);
    width: 50em;
    margin-left: -16em;
    background-color: #fff;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
    height: fit-content;
    overflow: hidden;
}

.modal-transition {
    transition: all 0.3s 0.12s;
    transform: translateY(-10%);
    opacity: 0;
}

.modal-header {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
    border-bottom: 1px solid #e8e8e8;
    font-family: var(--bitter);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}

.modal-body {
    height: 43em;
    overflow: hidden;
}

.modal-content {
    height: 100%;
    padding: 1em 1em 3em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipeForm {
    width: 100%;
}

.fieldsContainer {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    font-family: var(--bitter);
}

.fieldsWrapper {
    display: flex;
    gap: 1rem;
}

.fieldsContainer.buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.fieldsContainer input,
.fieldsContainer textarea,
.fieldsContainer select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-size: 12px;
    font-family: var(--bitter);
}

button.submit,
button.clear {
    padding: 0.5rem 1.5rem;
    font-family: var(--bitter);
    border: none;
    cursor: pointer;
    background-color: #FF0303;
    color: white;
}

button.clear {
    background-color: #ccc;
    color: black;
}


/* For modal */
.modalRecipe {
    position: absolute;
    z-index: 10000; 
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.modalRecipe.is-visible {
    visibility: visible;
}

.modalRecipe.is-visible .modal-transition {
    transform: translateY(0);
    opacity: 1;
}

.modalRecipe.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.1s, opacity 0.1s;
}

.modal-wrapper {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50em;
    background-color: #fff;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
    height: fit-content;
    overflow: hidden;
    
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal-body {
    height: 43em;
    overflow: hidden;
}

.modal-header,
.modal-content {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modal-header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
  border-bottom: 1px solid #e8e8e8;
  font-family: var(--bitter);
}

.modal-content {
    height: 100%;
    padding: 1em 1em 3em 1em;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #aaa;
  background: none;
  border: 0;
}

.modal-close:hover {
  color: #777;
}

.modalRecipe-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}

.recipeForm {
    /* border: 1px black solid; */
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    position: relative;
}

.fieldsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    width: 100%;
    height: fit-content;
}

.fieldsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;
    width: fit-content;
    height: fit-content;
}

.fieldsContainer.recipe-name {
    width: 100%;
}

.fieldsContainer.category {
    width: 100%;
}

.fieldsContainer.description {
    width: 100%;
}

.fieldsContainer.buttons {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
}

.fieldsContainer.buttons > button {
    border: none;
    border-radius: 0;
    padding: 0.3rem 2rem;
    font-family: var(--bitter);
    font-weight: 500;
    font-size: 11px;
    color: white;
    background: green;
    cursor: pointer;
}

.fieldsContainer.buttons > button.submit {
    background: green;
} 

.fieldsContainer.buttons > button.clear {
    background: crimson;
} 

.fieldsContainer.recipe-name input {
    width: 100%;
}

.fieldsContainer > label {
    font-family: var(--lexendDeca);
    font-weight: 600;
    font-size: 8px;
    color: gray;
    margin-left: 0.25rem;
}

.fieldsContainer > input {
    width: 350px;
    height: 2rem;
    background: #f5f5f5;
    outline: none;
    /* border: none; */
    /* border-radius: 1.625rem; */
    border: 1px #42424247 solid;
    border-radius: 1px;
    padding: 0 3.5rem 0 0.5rem;
    font-size: 10px;
}

.fieldsContainer > select {
    width: 100%;
    height: 2rem;
    background: #f5f5f5;
    outline: none;
    /* border: none; */
    /* border-radius: 1.625rem; */
    border: 1px #42424247 solid;
    border-radius: 1px;
    padding: 0 3.5rem 0 0.5rem;
    font-size: 10px;
}

.fieldsContainer > textarea {
    width: 100%;
    height: 3rem;
    background: #f5f5f5;
    outline: none;
    /* border: none; */
    /* border-radius: 1.625rem; */
    border: 1px #42424247 solid;
    border-radius: 1px;
    padding: 0.5rem;
    font-size: 10px;
    resize: none;
}

.recipeContainer {
    border: 1px solid rgba(0,0,0,.15);
    width: 265px;
    height: 210px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    cursor: pointer;
}

.recipeTop {
    grid-area: 1 / 1 / 10 / 13;
    position: relative;
}

.recipeBackground {
    background-color: #dadada;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: contrast(0.7) brightness(0.7);
}

.recipeContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
}

.recipeContainer h1 {
    font-family: var(--bitter);
    font-weight: 700;
    font-size: 19px;
    color: white;
    letter-spacing: 1px;
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.recipeBottom {
    grid-area: 10 / 1 / 13 / 13;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 0.5rem 1rem 0.75rem 1rem;
}

.categoryName {
    font-family: var(--openSans);
    font-weight: 600;
    font-size: 8px;
    color: gray;
}

.authorName {
    font-family: var(--lexendDeca);
    font-weight: 600;
    font-size: 10px;
    color: rgb(128, 128, 128);
}

.btnContainer {
    position: absolute;
    top: calc(50% - 10px);
    right: 0;
    width: fit-content;
    height: 20px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}

.recipeBtn, .recipeBtn-update {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataSectionRecipe {
    flex-
}