@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
}

:root {
    --bitter: "Bitter", serif;
    --openSans: "Open Sans", sans-serif;
    --domine: "Domine", serif;
    --arvo: "Arvo", serif;
}


section {
    margin-bottom: 15vh;
}
main {
    height: fit-content;
    margin: 32px;
    padding: 32px;
}


/*Section for the title and the authorcard*/
.headerSection {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    width: 100%;
    height: fit-content;
}

.recipeHeader {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 655px;
    height: fit-content;
}

.recipeName {
    font-family: var(--domine);
    font-size: 36px;
    font-weight: 700;
}

.recipeDescription {
    font-family: var(--bitter);
    font-size: 16px;
    font-style: italic;
    color: rgb(77, 77, 77);
    line-height: 25px;
    margin: 16px 0 16px 0;
}

.recipeImage {
    /* border: 1px black solid; */
    width: 655px;
    height: 1000px;
    background-image: url('../images/chicken.jpg');
    background-size: cover;
}

.recipeList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border: 1px black solid;
}

.recipeList h1 {
    font-family: var(--openSans);
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
}

.recipeList h2 {
    font-family: var(--openSans);
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    text-align: left;
}

.recipeList p {
    font-family: var(--bitter);
    font-size: 17px;
    /* font-weight: 700; */
    color: rgb(77, 77, 77);
    width: 100%;
    line-height: 24px;
    text-align: left;
    margin-bottom: 24px;
}

#reviewForm {
    width: 100%;
}

#reviewForm h1 {
    font-family: var(--openSans);
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.fieldContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: fit-content;
}

.fieldContainer label {
    font-family: var(--arvo);
    font-size: 12px;
    font-weight: 700;
    color: rgb(115, 64, 96);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    width: 100%;
}

.fieldContainer input, textarea {
    border: 1px rgb(204, 204, 204) solid;
}

.fieldContainer input {
    width: 342px;
    height: 41px;
    margin: .5rem 0
}

.fieldContainer textarea {
    width: 500px;
    height: 210px;
    margin: .5rem 0
}

.info {
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 355px;
    height: 100%;
}

/* CSS For the stars */
.star {
    font-size: 20px;
    width: 15px;
    display: inline-block;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: gold;
}
.star.half:after {
    content:'\2605';
    color: gold;
    position: absolute;
    margin-left: -1px;
    width: 10px;
    overflow: hidden;
}

/*CSS for the jump to recipe button */
.jumpToRecipe {
    font-size: 16px;
    height: 5vh;
    cursor: pointer;
    background-color:rgb(236, 234, 231);
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

/*CSS for the author card*/
.authorProfile {
    height:100%;
    width: 100%;
}
.authorCard {
    margin-top: 100px;
    height: 80vh;
    width: 60vh;
    background-color: #444; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 1rem;
}

.authorCard h2 {
    margin-top: 120px; 
    font-family: var(--domine); 
    color: white;
}

.authorCard p {
    padding: 16px; 
    font-family: var(--bitter); 
    color: white; 
    text-align: center;
    line-height: 2rem;
}

/*CSS for the author's profile picture*/
.authorPicture {
    border-radius: 50%;
    object-fit: contain;
    height: 150px;
    width: auto;
    position: absolute;
    margin-top: 120px;
  }

/*Section for the main content */
.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    font-family: var(--openSans);
    margin-bottom: 3rem;
}

.sectionCard {
    width: 110vh;
    background: white;
    border-radius: 1px;
}


.prepTimeContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(197, 191, 191);
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    font-family: var(--openSans);
}

.colorFill {
    height: 10px;
    width: 100%;
    background-color: orange;
    margin-bottom: 30px;
}

.timeHeader,
.timeValues {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.timeHeader span,
.timeValues span {
    flex: 1; 
    font-weight: bold;
    font-size: 16px;
}

.timeValues span {
    font-size: 15px;
    color: #333;
}

.timeHeader span {
    margin-right: 10px;
}

.ingredientsCard {
    background-color: rgb(236, 234, 231);
    width: 100%;
    height:fit-content;
}


.IngredName {
    font-weight: bold;
    font-size: 18px;
}

.IngredDesc {
    font-size: 14px;
}

/*CSS for the instruction card*/
.instructionsCard {
    background-color: rgb(236, 234, 231);
    width: 100%;
    height:fit-content;
}

.stepDetails {
    font-style: italic;
    font-size: 14px;
    color: rgb(61, 61, 61);
}

.stepNo {
    width: 15px;
    height: fit-content;
    background-color: purple;
    color: white;
    font-weight: bold;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    display: inline-block;
    margin-right: 15px;
}

.cardContainer {
    margin:30px;
    display:flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;

}

/*CSS for comment section*/


.card {
    background-color: #fff;
    border: none
}


.form-control {
    height: 48px;
    border-radius: 25px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #35b69f;
    outline: 0;
    box-shadow: none;
}

.c-badge {
    background-color: #35b69f;
    color: white;
    height: 20px;
    font-size: 11px;
    width: 92px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px
}

.comment-text {
    font-size: 13px
}

.wish {
    color: #35b69f
}

.user-feed {
    font-size: 14px;
    margin-top: 12px
}

.userRating {
    cursor: pointer;
}

.commentButton {
    border: none;
    font-size: 16px;
    border-radius: 40px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 16   px;

}

#submitComment {
    background-color: blue;
    color: white;
}

#submitComment:disabled {
    background-color: whitesmoke;
    color:rgb(160, 160, 160);
    cursor:default
}

#cancelComment {
    background-color: white;
}

#cancelComment:hover {
    background-color: rgb(212, 212, 212);
}

#userComment {
    padding: 10px;
    width: 100%;
    font-size: 14px;
}

#userComment::placeholder {
    text-align: left; 
    color: #888; 
}

.otherUserRating {
    text-align: center;
    font-size: 15px;
    width: 10px;
}