@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    top: 0;
}

:root {
    --bitter: "Bitter", serif;
    --openSans: "Open Sans", sans-serif;
    --instrumentSans: "Instrument Sans", sans-serif;
    --lexendDeca: "Lexend Deca", sans-serif;
}

html {
    min-height: 100vh;
    height: fit-content;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: flex-start;
    font-family: var(--openSans);
}


/* CSS For the stars */

.star {
    font-size: 20px;
    width: 15px;
    display: inline-block;
    color: #FF0303;
}


/*CSS for comment section*/

#userComment {
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    resize: none;
    overflow: hidden;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.4;
}

.comment-text {
    font-size: 13px
}

.userRating {
    cursor: pointer;
}

.otherUserRatingContainer {
    display: flex;
    gap: 2px;
}

.commentButton {
    border: none;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 16 px;
}

#submitComment {
    background-color: #FF0303;
    transition: background-color 0.3s ease;
    color: white;
}

#submitComment:hover {
    background-color: #D00202;
}

#submitComment:disabled {
    background-color: whitesmoke;
    color: rgb(160, 160, 160);
    cursor: default
}

#cancelComment {
    background-color: white;
    color: grey;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

#cancelComment:hover {
    background-color: rgb(212, 212, 212);
    color: black;
}

#userComment {
    padding: 10px;
    width: 100%;
    height: auto;
    font-size: 14px;
}

#userComment::placeholder {
    text-align: left;
    color: #888;
}

.otherUserRating {
    text-align: center;
    font-size: 15px;
    width: 10px;
}


/* Pagination css */

.page-link {
    color: red;
}

.other-comment {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
}

.comment-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
}

.comment-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.img-container {
    width: 2.5rem;
    height: 2.5rem;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.comment,
.time-posted {
    font-size: .8em;
    font-family: var(--lexendDeca);
    font-weight: 300;
}

.comment-username,
#rateRecipe p {
    font-size: .9em;
    font-family: var(--instrumentSans);
    font-weight: 900;
}

#rateRecipe p {
    font-weight: 400;
}

.time-posted {
    margin-left: auto;
}

.comment-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
}

.input-comment-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
}

.error {
    color: red;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-family: var(--openSans);
    font-size: 12px;
    padding: 0.5rem 1rem;
}

.comments-container {
    display: flex;
    flex-direction: column;
}